/* You can add global styles to this file, and also import other style files */
table {

  word-spacing: 5px;

}
.rojo {
  color: red;
  font-weight: bold;
}
.verde {
  color:green;
  font-weight:bold;
}
